div.primero {
  display: flex;
  justify-content: center;
  margin: 30px;
  background-color: rgb(238, 183, 183);
}

div {
  background-color: blue;
  padding: 20px 100px;
  margin: 10px;
  color: white;
}

div.segundo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  background-color: rgb(238, 183, 183);
}

article {
  background-color: rgb(44, 147, 20);
  padding: 20px 100px;
  margin: 10px;
  color: rgb(0, 0, 0);
}

div.tercero {
  justify-content: center;
  align-content: center;
  margin: 30px;
  background-color: rgb(132, 173, 255);
}

div.cuarto {
  justify-content: center;
  align-content: center;
  margin: 30px;
  background-color: rgb(214, 226, 166);
}
